html {
  height: 100%;
  width: 100%;
}

header {
  background-color: #ffffff;
  color: #ffffff;
  font-family: "Open Sans", "PT Sans", Calibri, Tahoma, sans-serif;
  padding: 15px;
  margin-top: 0.75%;
  margin-bottom: 1%;
  margin-left: 0%;
  margin-right: 0%;
  text-align: center;
}

body {
  background-color: #ffffff;
  font-family: "Open Sans", "PT Sans";
}

h1 {
  text-align: center;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
}

.container {
  display: flex;
  margin-top: 20px;
}

.image-container {
  flex: 1;
  padding: 20px;
}

.image-container img {
  max-width: 100%;
  height: auto;
}

.text-container {
  flex: 1;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Align text to the top */
  color: white
}

.text-container .text-box {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background-color: #e8eee8;
  border-radius: 10px; /* Add this line to round the box corners */
  color: #f0f0f0; /* Set the text color to white */
  padding-top: 10px; /* Adjust the padding-top to move the text closer to the top */
}

.text-container .text-box p {
  margin: 0;
}
